{% load static %}
{% if lb_options %}
  {{ lb_options|json_script:lb_options_id }}
{% endif %}
{% if use_bundled_jquery %}
  <script src="{% static 'djangocms_lightbox2/lightbox2/js/lightbox-plus-jquery.min.js' %}"></script>
{% else %}
  <script>
    (function() {
      if (window.jQuery) {
        var s = document.createElement('script');
        s.src = "{% static 'djangocms_lightbox2/lightbox2/js/lightbox.min.js' %}";
        s.async = true;
        document.head.appendChild(s);
      } else {
        if (window.console && console.error) {
          console.error('djangocms-lightbox2: jQuery is not loaded and use_bundled_jquery=False. Lightbox2 will not initialize.');
        }
      }
    })();
  </script>
{% endif %}
<script src="{% static 'djangocms_lightbox2/lightbox2/js/lightbox-overrides.js' %}"></script>
