{% load sekizai_tags static %}
{% if include_assets|default:True %}
  {% if sekizai %}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'djangocms_lightbox2/lightbox2/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'djangocms_lightbox2/lightbox2/css/lightbox-overrides.css' %}">
    {% endaddtoblock %}
    {% addtoblock "js" %}
    {% include 'djangocms_lightbox2/includes/assets_js.html' %}
    {% endaddtoblock %}
  {% else %}
    <link rel="stylesheet" href="{% static 'djangocms_lightbox2/lightbox2/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'djangocms_lightbox2/lightbox2/css/lightbox-overrides.css' %}">
    {% include 'djangocms_lightbox2/includes/assets_js.html' %}
  {% endif %}
{% endif %}
